.active {
  color: #23be0aed;
  background-color: white;
  border-radius: 8px;
  padding: 8px 20px;
  /* justify-content: center; */
  border: 1px solid #23be0a;
  font-weight: 800;
  font-style: italic;
}
